body{
    background-color: #eaeacc;
}

h1{
    text-align: center;
}

button{
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
}

select{
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: small;
    column-count: 2;
    text-align: center;
    column-gap: 20px;
}

p{
    font-size: medium;
}


.card{
    height: 300px;
    width: 250px;
    background-color: #e2bba5;
    border-style: solid;
    float: left;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.school-name{
    font-weight: bold;
}

.toggle-page{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#modal{
    position: relative;
    width: 600px;
    height: fit-content;
    background-color: #2b9ac9;
    border-style: solid;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
}


#modal-info{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

#modal-button{
    color: red;
    line-height: 12px;
    font-size: 14pt;
    margin-top: 1px;
    margin-right: 2px;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
}

#filter{
    text-align: center;
    margin-bottom: 20px;
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#single-column{
    column-count: 1;
}

#college-static-list{
    width: 50em;
    margin: auto;
}